---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Body from "../components/Body.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead />
  </head>
  <Body>
    <Header />
    <div
      class="grid grid-flow-row gap-24 px-0 pb-12 md:px-[3vw]"
      transition:animate="slide"
    >
      <slot />
    </div>
  </Body>
  <script>
    import "../javascript/toggleMobileMenu.js";
  </script>
</html>
